.article {
  padding-inline: 5%;
  padding-block: 6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.container {
  padding-block: 2rem;
  display: flex;
  gap: 5rem;
}

.title {
  font-size: 3rem;
  padding-left: 5%;
  position: relative;
  z-index: 10;
  line-height: 3.2rem;
}

.description {
  max-width: 70%;
  font-size: 1.5rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.textItem {
  margin-bottom: 15px;
}

.textTitle {
  font-size: 20px;
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
}

.textContent {
  font-size: 14px;
  color: #777;
}
