.container {
  margin-top: 1rem;
  padding-inline: 5px;
  flex: 0 0 calc(50% - 10px);
  max-width: calc(50% - 10px);
  transition: ease 0.2s;
}

.container > div {
  height: 100%;
  border-radius: 14px;
  cursor: pointer;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: #16161639;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.icon {
  width: 30%;
  display: grid;
  place-items: center;
  font-size: 2rem;
  color: var(--color-secundario);
}

.icon i {
  transition: ease 0.2s;
  line-height: 0;
}

.data {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.data > h4 {
  font-weight: 500;
  color: var(--fondo-principal);
  transition: ease 0.2s;
  text-align: center;
}

.data > p {
  display: none;
}

.button {
  color: var(--color-primario);
  font-weight: bold;
  text-transform: capitalize;
  background: 0;
  outline: 0;
  border: 0;
  cursor: pointer;
}

@media (min-width: 1025px) {
  .container {
    margin-top: 2rem;
    padding-inline: 15px;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    transition: ease 0.2s;
    min-height: 15rem;
    max-height: 20rem;
  }

  .container > div {
    flex-direction: unset;
    gap: 0.5rem;
    background: #16161639;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .container:hover {
    scale: 1.1;
  }

  .icon {
    width: 30%;
    display: grid;
    place-items: center;
    font-size: 2rem;
    color: var(--color-secundario);
  }

  .icon i {
    transition: ease 0.2s;
    line-height: 0;
  }

  .data {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
  }

  .data > h4 {
    font-size: 25px;
    color: var(--fondo-principal);
    transition: ease 0.2s;
  }

  .data > p {
    color: var(--borde-claro);
    transition: ease 0.2s;
    display: unset;
  }
}

@media (max-height: 680px) {
  .container {
    margin-top: unset !important;
    height: fit-content;
    margin: 10px 5px;
  }

  .container > div {
    padding-block: 0.5rem;
  }
}
