.section {
  width: 100%;
  height: 100%;
  background-image: url('../../Assets/Backgrounds/bg-primary.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.articleSocialMedias {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  backdrop-filter: brightness(60%);
}

.articleSocialMedias h2 {
  font-size: 2.5rem;
  color: var(--fondo-principal);
}

.list {
  width: 100%;
  padding-inline: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
}

.listButton {
  width: 100%;
  display: ruby;
}

.listButton > a {
  width: 100%;
  display: flex;
  align-items: center;
  background: red;
}
